*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

:root {
  background-color: var(--page-bg-color);
}

body {
  color      : var(--paragraph-text-color);
  font-family: Söhne;
  font-size  : 16px;

  font-smoothing        : antialiased;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.5;
  word-break : break-word;
}

a {
  cursor: pointer;
}

dialog {
  border : none;
  outline: none;
  padding: 0;
}
