.tab-group {
  position: relative;
  display : flex;
  gap     : 4.25px;

  >.background {
    position  : absolute;
    inset     : 0;
    background: white;
    transition: clip-path 0.2s ease-out;
  }

  >.tab {
    z-index: 1;
  }
}