.file-tree-node {
  >main {
    display    : flex;
    align-items: center;
    gap        : 12px;
    cursor     : pointer;

    >.icon-container {
      >img {
        display: block;
      }
    }
  }

  >.children-container {
    margin-left: 20px;
  }
}