.logged-in-user-avatar-button {
  >button.avatar {
    padding   : 0;
    transition: none;
    gap       : 12px;

    >.icon-container {
      border-radius: 50%;
      width        : 32px;
      height       : 32px;
    }

    >.title {
      padding-right: 16px;
    }

    @media (pointer: fine) {
      &:hover {
        >.icon-container {
          background-color: var(--circle-button-bg-color);
        }
      }
    }

    &:active {
      >.icon-container {
        background-color: var(--circle-button-bg-color);
      }
    }

    &:has(.title:empty) {
      @media (pointer: fine) {
        &:hover {
          >.icon-container {
            outline: 2px solid var(--circle-button-bg-color);
          }
        }
      }

      &:active {
        >.icon-container {
          outline: 2px solid var(--circle-button-bg-color);
        }
      }
    }
  }
}