.tab-content.trade-material {
  display       : flex;
  flex-direction: column;
  gap           : 18px;

  >section {
    display       : flex;
    flex-direction: column;
    gap           : 9px;

    >h3 {
      font-size : 15.14px;
      text-align: center;
    }
  }

  >section.amount {
    >.input {
      text-align: center;

      >input {
        text-align   : right;
        border-radius: 19px;
        padding      : 0 16px;
      }
    }
  }

  >section.price {
    >ul {
      display       : flex;
      flex-direction: column;

      border       : 1px solid var(--line-color);
      border-radius: 19px;
      padding      : 8px 0;

      >li {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        padding        : 8px 16px;

        >span.label {
          font-size: 14px;
        }

        >span.price {
          >.loading-spinner {
            width : 16px;
            height: 16px;
          }
        }
      }
    }
  }
}