.image-viewer {
  position: fixed;
  width   : 0;
  height  : 0;

  >header {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;

    display              : grid;
    grid-template-columns: 1fr auto 1fr;
    align-items          : center;
    padding              : 10px 20px;

    >.button-container {
      display: flex;
    }

    >.button-container.left {
      justify-self: start;
    }

    >.image-counter {
      justify-self: center;
    }

    >.button-container.right {
      justify-self: end;
    }
  }

  >button.prev {
    position : fixed;
    top      : 50%;
    left     : 40px;
    transform: translateY(-50%);
  }

  >.main-image-viewer {
    position: fixed;
  }

  >button.next {
    position : fixed;
    top      : 50%;
    right    : 40px;
    transform: translateY(-50%);
  }

  >.thumbnail-list {
    position: fixed;
    bottom  : 0;
    left    : 0;
    right   : 0;
  }
}